<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
             background-image:url(static/assets/img/tick.jpg); 
              background-attachment: fixed;
    background-position: right center;
    background-size: 500px;
    background-repeat: no-repeat;
        }
        h1{
            color:tomato;
        }
        h2{
    color:yellow;
}
    </style>
</head>
<body style="background-color:lightslategray;">
<h1>E-Ticket Status</h1>
<h2>Name: {{var}}</h2>
<h2>Email-id: {{var1}}</h2>
<h2>Travelling From: {{var3}} ,District: {{var4}} </h2>
<h2>Travelling To: {{var5}} ,District: {{var6}} </h2>
<h2>PhoneNumber: {{var7}} </h2>
<h2>Date of travel: {{var8}} </h2>
<h2>Status: {{var9}} </h2>
</body>
</html>